@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  @apply bg-gray-50 text-black dark:bg-gray-900 dark:text-white;
}

@layer components {
  .nested-list > ul,
  ol {
    @apply pl-6;
  }

  .btn-gray {
    @apply py-2 px-4 inline-block cursor-pointer bg-gray-500 text-white font-semibold rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 transition-colors ease-in-out;
  }

  .btn-indigo {
    @apply py-2 px-4 inline-block cursor-pointer bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 transition-colors ease-in-out;
  }

  .btn-primary {
    @apply py-2 px-4 inline-block cursor-pointer bg-primary-500 text-white font-semibold rounded-lg shadow-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-opacity-75 transition-colors ease-in-out;
  }

  .btn-green {
    @apply py-2 px-4 inline-block cursor-pointer bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition-colors ease-in-out;
  }

  .btn-disabled {
    @apply py-2 px-4 inline-block cursor-pointer bg-gray-500 text-white font-semibold rounded-lg shadow-md focus:outline-none transition-colors ease-in-out;
  }
}

.katex-custom .frac-line {
  @apply border-black dark:border-white;
}
